:root{
    --modal-duration: 1s;
    --p_color: #30336b;
    --s_color: #be2edd;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Roboto', sans-serif;
    transition: transform 0.3s ease;
}
body.show-nav{
    transform: translateX(200px);
}

nav{
    background: var(--p_color);
    border-right: 2px solid rgba(200, 200, 200, 0.1);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    z-index: 100;
    transform: translateX(-100%);

}

nav .logo{
    padding: 30px 0px;
    text-align: center;
}

nav .logo img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li{
    border-bottom: 1px solid rgba(200, 200, 200, 0.1);
    padding: 20px;
}
nav ul li:first-of-type{
    border-top: 1px solid rgba(200, 200, 200, 0.1);
}
nav ul li a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: inherit;
}

nav ul li a:hover{
    background: #000;
}

header{
    background: var(--p_color);
    font-size: 130%;
    position: relative;
    padding: 40px 50px;
}
header h1{
    margin: 30px 0px;
    color: #fff;

}
header p{
    margin-bottom: 20px;
    color: #fff;
}
button,input[type="submit"]{
    background: var(--s_color);
    border: 0px;
    outline: 0px;
    color: #fff;
    cursor: pointer;
    padding: 8px 15px;
    border-radius: 5px;
}
.toggle{
    background: rgba(0,0,0, 0.3);
    position: absolute;
    top: 20px;
    left: 20px;

}

.cta-btn{
    padding: 12px 30px;
    font-size: 20px;
}

.container{
    padding: 15px;
    margin: 0 auto;
    max-width: 100%;
    width: 80%;
}

.modal-container{
    background: rgba(0, 0, 0, 0.6);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}
.modal-container.show-modal{
    display: block;
    opacity: 1;

}
.modal{
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    width: 400px;
    animation-name: modalOpen;
    animation-duration: var(--modal-duration);
}

@keyframes modalOpen{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

.modal-header{
    background: var(--p_color);
    color: #fff;
    padding: 15px;
}

.modal-header h3{
    border-bottom: 1px solid #333;

}
.modal-content{
    padding: 20px;

}
.modal-form div{
    margin: 15px 0px;
}
.modal-form label{
    display: block;
    margin-bottom: 5px;

}
.modal-form input:not([type="submit"]){
    padding: 8px;
    width: 100%;
}

.close-btn{
    background: transparent;
    position: absolute;
    right: 4px;
    top: 4px;
    cursor: pointer;
    font-size: 20px;
}